.header {
  color: #fff;
  font-weight: 900;
  text-align: center;
}
.background {
  background-image: url(./beach.jpg);
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
  opacity: .8;
}
#github-link {
  text-align: center;
  color: #fff;
}